body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.AuthenticationDiv {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    width: calc(100% - 22px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #03B98E;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 40%;
    height: 50px;
    margin: 10px;
}

#signInButton, #signUpButton {
    background: none;
    border: none;
    color: #03B98E;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
    box-shadow: none ;
}

    #signInButton:hover, #signUpButton:hover {
        color: #02866C;
    }

button:hover {
    background-color: #02866C;
}

#loginText{
    display: none;
    color: red;
}